<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery.ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/collection")

    @Scripts.Render("~/bundles/core.base")
    @Scripts.Render("~/bundles/core.thread")
    @Scripts.Render("~/bundles/core.extensions")
    @Scripts.Render("~/bundles/core.data")
    @Scripts.Render("~/bundles/core.actionpolicy")
    @Scripts.Render("~/bundles/core.validation")
    @Scripts.Render("~/bundles/core.web")
    @Scripts.Render("~/bundles/core.ui")
    @Scripts.Render("~/bundles/core")


    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app.shared")
    <meta name="description" content="Binding MVVM Framework" />
</head>
<body id="_Layout">
    @Html.Partial("_LayoutNavbar")


    <div class="body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
    </div>
    @RenderSection("Scripts", required: false)


    @Html.Partial("_LayoutFooter")

</body>
</html>
